@charset "utf-8";
/* CSS Document */
* {
    font-family: "HelveticaNeueLT Std Bold Outln", Piazzolla, "Piazzolla Thin", sans-serif;
    cursor: url("img/cursor.png"), auto;
}

@font-face {
    font-family: "HelveticaNeueLT";
    src: url("fuentes/HelveticaNeueLTStd-Bd.otf") format('truetypeactive');
    font-weight: normal;
    font-style: normal;
}

#cabecera {
    width: 100%;
    background-color: purple;
    height: 50px;
    padding: 10px;
    display: flex;
}
nav {
    background-color: black;
    width: 100%;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

nav ul li {
    display: inline;
}

.botonera {
    width: 100%;
    height: 50px;
}

.botonera a {
    padding: 10px 20px;
    color: #000;
    border: 2px solid #B90BB3;
    background-color: aquamarine;
    border-top-left-radius: 10px;
}

.botonera a:hover {
    color: black;
    background-color: #B90BB3;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.header img {
  height: 40px;
	width: 40px; 
}
main {
    background-color: khaki;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.profile-imagen {
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-right: 20px;
}
.infomia{
	margin-left: 10;	
}
.textoprincipal{
	margin-left: 60px;
}
.datosmios {
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items:stretch;
	flex:wrap;
}
.flex-container¨{ 
	margin:0 auto;
	display: flex;
	flex-direction:row;
	justify-content:center;
	flex-wrap: wrap;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sobremi {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.sobremi h3 {
  text-align: center;
  margin-top: 0;
}

.sobremi p {
  text-align: center;
  margin-bottom: 0;
}
.sobremi {
  background-color: black;
  color: white;
  padding: 20px;
}

.botonera a {
  color: black;
}

.botonera a:hover {
  color: white;
}
.habilidad {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    max-width: 100%;
    padding: 20px;
}

h2 {
    padding: 0px 0px 10px 100px;
    font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.footer h6 {
  margin: 0;
}